@import "./components/App";
@import "./components/Home";
@import "./components/Resume";
@import "./components/Contact";
@import "./helpers/variables";

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    cursor: default;
    font-family: $font-lato;
    color: $color-light-gray;
}

.bottom-scroll {
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;

    .scroll-button {
        background-color: $color-gray;
        color: $color-green;
        font-family: $font-open-sans;
        font-size: 17px;
        font-weight: 300;
        border: none;
        outline: none;
        box-shadow: none;
        cursor: pointer;
    }

    .scroll-button:hover {
        font-weight: 600;
    }
}

@media screen and (max-width: 700px) {
    .bottom-scroll {    
        .scroll-button {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 350px) {
    .bottom-scroll {    
        .scroll-button {
            font-size: 14px;
        }
    }
}