@import "../helpers/variables";

#error-page {
    height: 100vh;
    width: 100vw;
    background-color: $color-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;

    h1 {
        font-size: 80px;
    }
}

.App {
    position: relative;

    .header {
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: 2;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 60px;
        padding-right: 80px;
        padding-bottom: 120px;
        background-image: linear-gradient(to bottom, $color-gray, 60%, rgb(34, 34, 34, 0));

        .header-title {
            font-family: $font-open-sans;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h1 {
                font-size: 50px;
                font-weight: 300;
                margin-bottom: -10px;
            }

            h2 {
                font-size: 36px;
                font-weight: 600;
                text-align: justify;
            }
        }

        .header-navigation {
            .menu-icon {
                display: none;
            }

            .nav-menu {
                display: flex;
                align-items: center;
                list-style: none;
                gap: 40px;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 1px;

                .nav-item {
                    .nav-links {
                        color: $color-light-gray;
                        text-decoration: none;
                    }

                    .activated {
                        color: $color-green;
                        font-weight: 300;
                    }
                }

                .nav-item:hover {
                    color: white;
                    font-weight: 400;
                    transition: all 0.2s ease;
                }
            }
        }
    }
    
    .main-content {
        min-height: 100vh;
    }

    .footer {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 60px;
        padding-right: 80px;
        background-color: $color-gray;
        font-size: 14px;
        color: rgb(144, 144, 144);

        p {
            .footer-link {
                text-decoration: none;
                color: $color-light-gray;
                margin-left: 4px;
            }

            .footer-link:hover {
                color: white;
                font-weight: 400;
                transition: all 0.2s ease;
            }
        }
    }
}


/* RESPONSIVE STYLES */

@media screen and (max-width: 900px) {
    .App {
        .header {
            .header-navigation {
                .menu-icon {
                    display: block;
                    font-size: 2rem;
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(-200%, 200%);
                    z-index: 4;
                }

                .nav-menu {
                    display: flex;
                    justify-content: center;
                    height: 300px;
                    flex-direction: column;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: -100%;
                    opacity: 1;
                    transition: all 0.5s ease;
                    padding-left: 0px;

                    .nav-item {
                        .nav-links {
                            text-align: center;
                            padding: 1rem;
                            width: 100%;
                            display: table;
                        }

                        .nav-links:hover {
                            transform: scale(1.2);
                            transition: all 0.2s ease;
                        }
                    }

                    .nav-item:hover {
                        border: none;
                    }
                }

                .nav-menu.active {
                    background-color: $color-gray;
                    left: 0;
                    opacity: 1;
                    transition: all 0.6s ease;
                    z-index: 2;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .App {
        .header {
            .header-title {
                h1 {
                    font-size: 40px;
                    margin-bottom: -8px;
                }
    
                h2 {
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .App {
        .header {
            height: 260px;
            background-image: linear-gradient(to bottom, $color-gray, 75%, rgb(34, 34, 34, 0));

            .header-navigation {
                .menu-icon {
                    transform: translate(-200%, 140%);
                    font-size: 1.8rem;
                }
            }

            .header-title {
                h1 {
                    font-size: 34px;
                }
    
                h2 {
                    font-size: 26px;
                }
            }
        }

        .footer {
            padding-left: 24px;
            padding-right: 30px;
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 500px) {
    .App {
        .header {
            padding-left: 30px;
        }
    }
}

@media screen and (max-width: 400px) {
    .App {
        .header {
            .header-navigation {
                .menu-icon {
                    transform: translate(-120%, 140%);
                }
            }

            .header-title {
                h1 {
                    font-size: 30px;
                }
    
                h2 {
                    font-size: 22px;
                }
            }
        }
    }
}

@media screen and (max-width: 330px) {
    .App {
        .header {
            padding-left: 20px;
            height: 240px;

            .header-navigation {
                .menu-icon {
                    transform: translate(-100%, 120%);
                }
            }

            .header-title {
                h1 {
                    font-size: 28px;
                }
    
                h2 {
                    font-size: 20px;
                }
            }
        }
    }
}