@import '../helpers/variables';
@import '../helpers/mixins';

.App {

    .header {
        background-color: $color-gray;
        height: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-title {
            font-family: $font-open-sans;
            color: white;
            
            h1 {
                font-size: 50px;
                font-weight: 300;
            }

            h2 {
                font-size: 30px;
                font-weight: 400;
            }
        }

        .header-navigation {
            display: flex;

            .nav-link {
                color: $color-light-gray;
                text-decoration: none;
            }
        }
    }
    
    .main-content {
        min-height: 100vh;
    }
    
    .footer {
        display: flex;
        height: 50px;
        background-color: red;
    }
}

