.contact {
    background-color: $color-gray;
    height: 120vh;

    .contact-image {
        position: relative;
        height: 70vh;

        .transition-overlay {
            position: absolute;
            top: 50vh;
            z-index: 2;
            height: 20vh;
            width: 100vw;
            background-image: linear-gradient(to top, $color-gray, 85%, rgb(34, 34, 34, 0));
        }
    }

    .contact-content {
        width: 100vw;
        height: 50vh;
        display: flex;
        align-items: center;

        .contact-grid {
            width: 50vw;
            display: flex;
            flex-direction: column;
        }


        .contact-row {
            display: flex;
        }
    }
}