@import "../helpers/variables";

.contact {
    background-color: $color-gray;

    .contact-image {
        position: relative;
        height: 525px;

        .transition-overlay {
            position: absolute;
            top: 377px;
            z-index: 2;
            height: 150px;
            width: 100vw;
            background-image: linear-gradient(to top, $color-gray, 85%, rgb(34, 34, 34, 0));
        }
    }

    .contact-content {
        width: 100vw;
        //height: 300px;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        color: white;
        font-size: 19px;
        font-weight: 700;

        .contact-grid {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 28px;

            .contact-row {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 80px;

                a {
                    color: $color-green;
                    text-decoration: none;
                    font-weight: 400;
                }

                a:hover {
                    font-weight: 700;
                }
            }
        }
    }
}



/* RESPONSIVE STYLES */

@media (max-width: 850px) {
    .contact {
        .contact-image {
            .transition-overlay {
                top: 300px;
                height: 250px;
            }
        }

        .contact-content {
            .contact-grid {
                .contact-row {
                    column-gap: 50px;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .contact {
        .contact-image {
            height: 300px;

            .transition-overlay {
                //top: 40vh;
                background-image: linear-gradient(to top, $color-gray, 90%, rgb(34, 34, 34, 0));
            }
        }

        .contact-content {
            height: 400px;

            .contact-grid {
                padding-top: 40px;

                .contact-row {
                    column-gap: 0px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .contact {
        .contact-content {
            font-size: 16px;

            .contact-grid {
                padding-top: 20px;
            }
        }
    }
}

@media (max-width: 450px) {
    .contact {
        .contact-content {
            font-size: 14px;

            .contact-grid {
                .contact-row {
                    grid-template-columns: 1fr 1.5fr;
                }
            }
        }
    }
}