@import "../helpers/variables";

.contact {
    background-color: $color-gray;
    height: 110vh;

    .contact-image {
        position: relative;
        height: 70vh;

        .transition-overlay {
            position: absolute;
            top: 50vh;
            z-index: 2;
            height: 20vh;
            width: 100vw;
            background-image: linear-gradient(to top, $color-gray, 85%, rgb(34, 34, 34, 0));
        }
    }

    .contact-content {
        width: 100vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        color: white;
        font-size: 19px;
        font-weight: 700;
        padding-left: 30px;

        .contact-grid {
            width: 45vw;
            display: flex;
            flex-direction: column;
            gap: 28px;

            .contact-row {
                display: grid;
                grid-template-columns: 1fr 1fr;

                a {
                    color: $color-green;
                    text-decoration: none;
                    font-weight: 400;
                }

                a:hover {
                    font-weight: 700;
                }
            }
        }
    }
}