@import "../helpers/variables";

.resume {
    background-color: $color-gray;
    min-height: 200vh;

    .resume-image {
        position: relative;
        height: 65vh;

        .transition-overlay {
            position: absolute;
            top: 50vh;
            z-index: 2;
            height: 15vh;
            width: 100vw;
            background-image: linear-gradient(to top, $color-gray, 70%, rgb(34, 34, 34, 0));
        }
    }

    .resume-content {
        min-height: 135vh;
        padding-left: 18vw;
        padding-right: 18vw;
        display: flex;
        flex-direction: column;
        gap: 80px;
        color: white;
        font-weight: 300;
        font-size: 14px;
        padding-bottom: 100px;

        .position-section > h3,
        .software-section > h3,
        .education-section > h3 {
            font-size: 24px;
            margin-bottom: 25px;
        }

        .software-section > h3,
        .education-section > h3 {
            margin-bottom: 15px;
        }

        .position-section {

            .position-details {
                .title-date {
                    padding-left: 10px;
                    padding-bottom: 12px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 18px;

                    .job-date {
                        font-weight: 400;
                        font-style: italic;
                    }
                }

                .game-details {

                    .game-name {
                        color: $color-green;
                        text-decoration: none;
                    }

                    .no-link {
                        
                    }

                    .job-duties {
                        display: none;
                    }

                    .no-duty-title {
                        display: none;
                    }
                }

                .surreal-list {
                    list-style: none;
                    padding-bottom: 20px;

                    li {
                        padding-bottom: 5px;
                    }

                    .italic {
                        font-style: italic;
                    }
                }
            }
        }

        .software-section {
            .software-grid {
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: repeat(6, 1fr);
                row-gap: 20px;
                text-align: center;
            }
        }
    }
}